<div>
    <img src="/assets/images/groupe.jpg" alt="Photo de groupe Angers Populaire">

    <h2>Une ville agréable pour toutes et tous !</h2>

    <p>Nous invitons les Angevines et les Angevins à nous rejoindre pour construire avec nous ce projet et participer à cette campagne.</p>

    <p>Plusieurs centaines d'entre vous ont signé notre appel à une liste d'Union Populaire pour Angers.</p>

    <p>Avec vous, nous construisons un programme de rupture avec les politiques libérales et austéritaires du gouvernement et de la majorité municipale actuelle.</p>

    <p style="font-weight: 700; color: var(--violet); margin-bottom: 0;">
        Nous ne voulons pas décider sans vous, alors rejoignez-nous pour construire le programme !
    </p>
</div>