
<h1 class="sr-only">Angers populaire, une ville agréable pour toutes et tous !</h1>
<img
    id="top"
    src="/assets/images/logo.png"
    alt="Angers populaire, une ville agréable pour toutes et tous ! Arash Saeidi candidat à la mairie d'Angers aux élections municipales du 15  et 22 mars 2026."
    aria-hidden="true"
/>
<section>
    <a routerLink="/programme">
        Le programme
    </a>
    <a href="#section-formulaire">
        Nous rejoindre
    </a >
    <a href="https://actionpopulaire.fr/">Action populaire</a>
</section>